/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body {
  background-color: #5c87b2;
  font-size: .85em;
  font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  color: dimgray;
}
a:link {
  color: #034af3;
  text-decoration: underline;
}
a:visited {
  color: #505abc;
}
a:hover {
  color: #1d60ff;
  text-decoration: none;
}
a:active {
  color: #12eb87;
}
p,
ul {
  margin-bottom: 20px;
  line-height: 1.6em;
}
header,
footer,
nav,
section {
  display: block;
}
/* HEADINGS   
----------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  color: black;
}
h1 {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
h2 {
  padding: 0 0 10px 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
header,
#header {
  position: relative;
  margin-bottom: 0px;
  color: black;
  padding: 0;
}
header h1,
#header h1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
  color: white;
  border: none;
  line-height: 2em;
  font-size: 32px !important;
  text-shadow: 1px 1px 2px #111111;
}
#main {
  padding: 30px 30px 15px 30px;
  background-color: white;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
footer,
#footer {
  background-color: white;
  color: #999999;
  padding: 10px 0;
  text-align: center;
  line-height: normal;
  margin: 0 0 30px 0;
  font-size: .9em;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* TAB MENU   
----------------------------------------------------------*/

ul#menu {
  border-bottom: 1px #5c87b2 solid;
  padding: 0 0 2px;
  position: relative;
  margin: 0;
  text-align: right;
}
ul#menu li {
  display: inline;
  list-style: none;
}
ul#menu li#greeting {
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  color: white;
}
ul#menu li a {
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  background-color: #e8eef4;
  color: #034af3;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
ul#menu li a:hover {
  background-color: white;
  text-decoration: none;
}
ul#menu li a:active {
  background-color: #a6e2a6;
  text-decoration: none;
}
ul#menu li.selected a {
  background-color: white;
  color: black;
}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
  border: 1px solid #dddddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
}
legend {
  font-size: 1.2em;
  font-weight: bold;
}
textarea {
  min-height: 75px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #cccccc;
  padding: 2px;
  font-size: 1.2em;
  color: #444444;
  width: 200px;
}
select {
  border: 1px solid #cccccc;
  padding: 2px;
  font-size: 1.2em;
  color: #444444;
}
input[type="submit"] {
  font-size: 1.2em;
  padding: 5px;
}
/* TABLE
----------------------------------------------------------*/

table {
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}
table td {
  padding: 5px;
  border: solid 1px #e8eef4;
}
table th {
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4;
  border: solid 1px #e8eef4;
}
/* MISC  
----------------------------------------------------------*/

.clear {
  clear: both;
}
.error {
  color: Red;
}
nav,
#menucontainer {
  margin-top: 40px;
}
div#title {
  display: block;
  float: left;
  text-align: left;
}
#logindisplay {
  font-size: 1.1em;
  display: block;
  text-align: right;
  margin: 10px;
  color: White;
}
#logindisplay a:link {
  color: white;
  text-decoration: underline;
}
#logindisplay a:visited {
  color: white;
  text-decoration: underline;
}
#logindisplay a:hover {
  color: white;
  text-decoration: none;
}
/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error {
  color: red;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid red;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: red;
}
.validation-summary-valid {
  display: none;
}
/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label {
  margin: 1em 0 0 0;
}
.display-field,
.editor-field {
  margin: 0.5em 0 0 0;
}
.text-box {
  width: 30em;
}
.text-box.multi-line {
  height: 6.5em;
}
.tri-state {
  width: 6em;
}
/* This is my code
----------------------------------------------------------*/
body {
  background: #cddaef;
}
body div#main {
  padding: 2px;
}
div.test {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
